@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-over {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(117, 117, 117, 0.219);
    width: 300px;
    height: 300px;
    transform: translateY(-15px); 
    font-size: 1.3em;
}

.scores-container {
    margin-top: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}