@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-over {
    display: none;
}

#instructions {
    display: flex;
}

.overlay-screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(117, 117, 117, 0.219);
    width: 300px;
    height: 300px;
    transform: translateY(-15px); 
    font-size: 1.3em;
}

.controls {
    margin: 10px 20px;
    margin-bottom: 0;
    font-size: 0.8em;
}

#keyboard {
    display: block;
}

#mobile {
    display: none;
    font-size: 0.7em;
}

.scores-container {
    margin-top: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    #keyboard {
        display: none;
    }

    #mobile {
        display: block;
    }
}